<h1>Archief</h1>

<div class="table-responsive">
<table class="table table-striped table-bordered table">
  <thead class="thead-invers">
    <tr>
      <th>Klant</th>
      <th>Ordernr.</th>
      <th>Verzenddatum</th>
      <th>Status</th>
      <th>Omschrijving</th>
      <th>Carrier</th>
      <th>Opmerkingen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer %></td>
        <td><%= link_to (order.order_number), order %></td>
        <td><%= order.despatch_date %></td>
        <td><%= order.status %></td>

        <% order.items.each do |item| %>
        <td><%= truncate item.article_description, length: 50 %>
          <br>
          <%= link_to 'lees meer', order %> </td>
        <% end %>

        <% order.shippings.each do |shipping| %>
        <td><%= shipping.carrier %></td>
        <% end %>

        <td><%= order.comments %></td>

        <td><%= link_to 'Vorige status', prev_status_path(order), :class => "btn btn-secondary btn-sm"  %></td>
        <td><%= link_to 'Volgende status', next_status_path(order), :class => "btn btn-secondary btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @jobs %>
  </div>
  <%= will_paginate @jobs, :container => false %>
</div>
<br>

