
<p>
  <strong>Klant:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Order nummer:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Verzend datum:</strong>
  <%= @order.despatch_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Opmerkingen:</strong>
  <%= @order.comments %>
</p>

<% @order.items.each do |item| %>
<p>
<strong>Omschrijving:</strong>
<%= item.article_description %>
</p>

<p>
<strong>Prijs:</strong>
<%= number_to_currency(item.price.to_f, :unit => "€ ") %>
</p>

<p>
<strong>HR PDF:</strong>
<%= link_to 'Download PDF', item.hrpdf_url, target: '_blank' if item.hrpdf_url? %>
</p>
<% end %>

<% @order.shippings.each do |shipping| %>
<p>
<strong>Carrier:</strong>
<%= shipping.carrier %>
</p>
<% end %>

<p>
  <strong>Laatst gewijzigd:</strong>
  <%= @order.updated_at.strftime("%A, %d %b %Y %l:%M %p") %>
</p>


<%= link_to 'Aanpassen', edit_order_path(@order), :class => "btn btn-secondary" %> |
<%= link_to 'Terug', orders_path, :class => "btn btn-secondary" %>
<% if current_user && current_user.admin? %>
 | <%= link_to 'Verwijderen', order_path(@order), method: :delete, data: { confirm: 'Zeker weten?' },
                                                                     :class => "btn btn-secondary" %>
<% end %>
