<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Order number:</strong>
  <%= @order.order_number %>
</p>

<p>
  <strong>Despatch date:</strong>
  <%= @order.despatch_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<% @order.items.each do |item| %>
<p>
<strong>Article description:</strong>
<%= item.article_description %>
</p>
<p>
<strong>HR PDF:</strong>
<%= item.hrpdf_url %>
</p>
<% end %>

<% @order.shippings.each do |shipping| %>
<p>
<strong>Carrier:</strong>
<%= shipping.carrier %>
</p>
<% end %>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %> |
<%= link_to 'Verwijderen', order_path(@order), method: :delete, data: { confirm: 'Zeker weten?' },
                                                                     :class => "btn btn-secondary" %>
